{% include 'header.html' %}
    <p style="color: aqua">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quos
      dolorum, corporis totam, sapiente non, aperiam voluptatem repellendus eum
      quas ullam quidem? Non quas velit, sapiente tempore excepturi culpa saepe.
    </p>
    <hr />
    <h3>My Hobbies</h3>
    <div class="img">
      <img src="/static/bb.jpg" alt="" />
      <img src="/static/free-images.avif" alt="" />
      <img src="/static/hh.webp" alt="" />
      <img src="/static/SC.webp" alt="" />
    </div>
    <ul>
      <li>Playing Football</li>
      <li>Playing Cricket</li>
      <li>Playing Badminton</li>
    </ul>
    <hr />

{% include 'footer.html' %}
